.val {
    font-size: 80px;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-between;

    .btn {
        background: black;
        color: #fff;
        padding: 8px 16px;
        border-radius: 10px;
        border: none;
        cursor: pointer;
    }
}